apiVersion: v1
kind: Service
metadata:
  name: data-processor
  namespace: iot-edge
  labels:
    app: data-processor
spec:
  type: ClusterIP
  selector:
    app: data-processor
  ports:
    - name: http
      port: 8002
      targetPort: 8002
      protocol: TCP
